body {
  font-size: 16px;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "bitstream vera serif", Times, serif;
  letter-spacing: -0.03em;
  color: #000;
  font-weight: normal;
  line-height: 100%;
}

h1 {
  font-size: 220%;
  margin: 0 0 0.5em 0;
}

h2 {
  font-size: 160%;
  margin: 0 0 .5em 0;
}

h3 {
  font-size: 130%;
  margin: 0 0 .35em 0;
}

h4 {
  font-size: 110%;
  margin: 0 0 .35em 0;
}

h5 {
  font-size: 110%;
  margin: 0;
}

h6 {
  font-size: 100%;
  margin: 0;
}

h3 > code {
  background-color: inherit;
  color: black;
}

li {
  color: #404040;
  line-height: 1.6em;
}

/* Vagrant font is a little larger than normal. We like it that way. */
p {
  font-size: 16px;
  line-height: 25px;
}

/* Make all <pre> blocks pretty looking. No plain grey! */
pre {
  background-color: #fefbf3;
v  padding: 9px;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
          box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

pre, code {
  font-size: 90%;
  line-height: 1.6em;
}

pre > code {
  background-color: #fefbf3;
}

.alert-message a {
  font-weight: normal;
  color: #0069D6;
}

.alert-message.block-message.grey {
  background-color: whiteSmoke;
  border-color: #CCC;
}

.alert-message.block-message.grey p {
  margin-bottom: 9px;
}

.alert-message.block-message.notice {
  background-image: url(/static/images/icons/error.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 52px;
  font-size: 0.8em;
}

.right {
  float: right;
}

.Header {
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #DDD;
}

.Footer {
  text-align: center;
  padding: 1em 0;
}

/*************************************************************
 * Modules
 *************************************************************/
.Module.logo h1 a {
  color: #000;
}

.Module.logo h1 a:hover {
  text-decoration: none;
}

.Module.logo h1 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -0.05em;
  color: #111;
  margin: 0;
}

.Module.logo h1 span.subtype {
  color: #777;
}

.Module.navigation {
  font-size: 1.1em;
  font-variant: small-caps;
  float: right;
  margin-top: 8px;
}

.Module.navigation ul {
  list-style-type: none;
}

.Module.navigation ul li {
  float: left;
  border-right: 1px dotted #DDD;
  padding: 0.35em 0.75em;
}

.Module.sidebar ul, .Module.sidebar ol {
  margin-bottom: 0;
}

.Module.steps li div.result {
  padding: 3px;
}

.Module.steps li .running {
  background-color: #FDF5D9;
}

.Module.steps li .success {
  background-color: #D1EED1;
}

.Module.steps li .failure {
  background-color: #FDDFDE;
}

.Module.buildtable tbody td.success,
.Module.waterfall thead th.success,
.Module.waterfall tbody td.success {
  background-color: #D1EED1;
  border-color: #BFE7BF;
}

.Module.buildtable tbody td.failure,
.Module.waterfall thead th.failure,
.Module.waterfall tbody td.failure {
  background-color: #FDDFDE;
}

.Module.waterfall .BuildStep.running {
  background-color: #FDF5D9;
}

.Module.waterfall .BuildStep.start {
  background-color: #CCC;
}

.Module.builders tbody td.success {
  background-color: #D1EED1;
}

.Module.builders tbody td.failure {
  background-color: #FDDFDE;
}