---
layout: "inner"
sidebar_current: "support-community"
sidebar_template: "support"
sidebar_title: "Support"
---
<h2>Community Support</h2>

<p>Vagrant has a large and active community of individuals who
are more than happy to assist newcomers and veterans alike.</p>

<p>
<strong>IRC:</strong> <code>#vagrant</code> on Freenode. IRC
provides a real-time chat environment for getting help. Note that
the quality and availability of assistance depends largely on the
time of day and who is currently active in the channel.
</p>

<p>
<strong>Mailing list:</strong> <a href="http://groups.google.com/group/vagrant-up">Vagrant Google Group</a>. The mailing list has thousands of people who engage
in active discussions daily. A response can take up to a few days
here, but your inquiries will be seen by many more individuals.
</p>
</p>

<p>
<strong>Bug Tracker:</strong> <a href="https://github.com/mitchellh/vagrant/issues">Issue Tracker on GitHub</a>. This is only for reporting bugs found, please do not use this as a means for support.
</p>
