---
layout: "inner"
sidebar_current: "support-professional"
sidebar_template: "support"
sidebar_title: "Support"
---
<h2>Professional Support</h2>

<p>Professional support packages are on the way. If you're interested
in hearing more, please contact <a href="mailto:biz@hashicorp.com">biz@hashicorp.com</a>.

<p>
If you purchased the <a href="http://www.vagrantup.com/vmware">VMware Fusion provider</a>,
you're eligible for limited basic support via email by contacting
<a href="mailto:support@hashicorp.com">support@hashicorp.com</a>. Response
times are typically within 48 hours, but can be up to a week.
</p>
