# engineering and web presence get notified of, and can approve changes to web tooling, but not content.

/website/               @hashicorp/web-presence @hashicorp/Vagrant
/website/data/
/website/public/
/website/content/

# education and engineering get notified of, and can approve changes to web content.

/website/data/          @hashicorp/team-docs-packer-and-terraform @hashicorp/Vagrant
/website/content/       @hashicorp/team-docs-packer-and-terraform @hashicorp/Vagrant
/website/public/        @hashicorp/team-docs-packer-and-terraform @hashicorp/Vagrant
/website/README.md      @hashicorp/team-docs-packer-and-terraform @hashicorp/Vagrant
/website/redirects.js   @hashicorp/team-docs-packer-and-terraform @hashicorp/Vagrant
