# If we are a computer with nix-shell available, then use that to setup
# the build environment with exactly what we need.
if has nix-shell; then
  use flake
fi

export VAGRANT_SUPPRESS_GO_EXPERIMENTAL_WARNING=1
export VAGRANT_I_KNOW_WHAT_IM_DOING_PLEASE_BE_QUIET=1
