# OS-specific
.DS_Store

# Vagrant stuff
Vagrantfile
.vagrant

# Bundler/Rubygems
.bundle
pkg/*
tags
Gemfile.lock
test/tmp/

# Documentation
_site/*
.yardoc/
doc/

# Rubinius
*.rbc

# IDE junk
.idea/*
*.iml