//typogrpahy
.museo-sans-light {
font-family: "museo-sans", helvetica, arial, sans-serif;
font-style: normal;
font-weight: 100;
}

.museo-sans-regular {
font-family: "museo-sans", helvetica, arial, sans-serif;
font-style: normal;
font-weight: 300;
}

.museo-sans-bold {
font-family: "museo-sans", helvetica, arial, sans-serif;
font-style: normal;
font-weight: 700;
}

.museo-sans-light-italic {
font-family: "museo-sans", helvetica, arial, sans-serif;
font-style: italic;
font-weight: 100;
}

.museo-sans-regular-italic {
font-family: "museo-sans", helvetica, arial, sans-serif;
font-style: italic;
font-weight: 300;
}

.museo-sans-bold-italic {
font-family: "museo-sans", helvetica, arial, sans-serif;
font-style: italic;
font-weight: 700;
}