    </div>
  </div>

  <div class="row Footer">
    <div class="span16">
      Copyright <a href="/license.html">&copy;</a> 2009-2011. <a href="http://mitchellhashimoto.com">Mitchell Hashimoto</a> and <a href="http://nickelcode.com">John Bender</a>. Design by <a href="http://www.simonecarletti.com/">Simone Carletti</a>.
    </div>
  </div>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-15091924-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>

  </div>
</body>
</html>
