<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Vagrant - {{ page.title }}</title>

  <meta name="description" content="Create and manage virtualized development environments." />

  <link rel="stylesheet" href="/static/css/bootstrap-1.4.0.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/static/css/syntax.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/static/css/vagrant.base.css" type="text/css" media="screen" />
  <script src="/static/js/prettify.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <div class="row Header">
      <div class="span4 Module logo">
        <h1><a href="/">Vagrant</a></h1>
      </div>
      <div class="span12">
        <div class="Module navigation">
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/docs/getting-started/index.html">get started</a></li>
            <li><a href="/docs/index.html">documentation</a></li>
            <li><a href="/support.html">support</a></li>
            <li><a href="/about.html">about</a></li>
            <li><a href="/contribute/index.html">contribute</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span16">
        <div class="alert-message block-message success">
          Vagrant 0.9.0 has been released. Check out the <a href="/docs/changes/changes_08x_09x.html">changes in this release</a>.
        </div>
