<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta http-equiv="Cache-control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <title>Vagrant - {{ page.title }}</title>

  <meta name="description" content="Create and manage virtualized development environments." />

  <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/text.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />
</head>

<body>
  <div id="header" class="container_12 clearfix">
    <div id="logo">
      <div><a href="/">Vagrant</a></div>
    </div>
    <div id="navigation">
      <ul id="nav">
        <li><a href="/">home</a></li>
        <li><a href="/docs/getting-started/index.html">get started</a></li>
        <li><a href="/docs/index.html">documentation</a></li>
        <li><a href="/faq.html">faq</a></li>
        <li><a href="/support.html">support</a></li>
        <li><a href="http://github.com/mitchellh/vagrant">code</a></li>
      </ul>
    </div>
  </div>

  <div id="content" class="container_12 clearfix">
    <div class="grid_12 notice">
      Vagrant 0.8 has been released! Read the <a href="/docs/changes/changes_07x_08x.html">full list of changes</a>.
    </div>
