/* Global Component Styles */
@import '~@hashicorp/mktg-global-styles/style.css';
@import '~@hashicorp/mktg-global-styles/_temporary-to-remove/layout.css';
@import '~@hashicorp/mktg-global-styles/_temporary-to-remove/tables.css';
@import '~@hashicorp/nextjs-scripts/prism/style.css';

:root {
  --highlight-color: var(--vagrant);
}

@import '~@hashicorp/react-button/styles/index.css';
@import '~@hashicorp/react-code-block/style.css';
@import '~@hashicorp/react-consent-manager/style.css';
@import '~@hashicorp/react-content/style.css';
@import '~@hashicorp/react-docs-page/style.css';
@import '~@hashicorp/react-search/style.css';
@import '~@hashicorp/react-subnav/style.css';
@import '~@hashicorp/react-tabs/style.css';
@import '~@hashicorp/react-toggle/style.css';
@import '~@hashicorp/react-vertical-text-block-list/style.css';
@import '~@hashicorp/react-product-downloader/dist/style.css';

/* Local Components */
@import '../components/search-bar/style.css';

/* Print Styles */
@import './print.css';

/* Expand content so footer is always at the bottom */
.__next > .content {
  min-height: calc(100vh - 260px);
}

/*
 * About this selector:
 * `.g-subnav ~ *` finds all elements after the navigation.
 * `:target` finds the active permalink on the page.
 *
 * About this style:
 * `scroll-margin-top` adjusts the vertical scroll of a permalink.
 * `64px` adjusts the scroll to account for the navigation.
 * `0.5em` further adjusts the scroll to give the permalink breathing room.
 *
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/:target
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
 */
.g-subnav ~ * :target {
  scroll-margin-top: calc(64px + 0.5em);
}

/* Sticky Footer */
.content {
  min-height: calc(100vh - 260px);
}
