/* compontents */

//search
.search-bar {
  border-bottom: 1px solid fade(@black, 10%);
  position: relative;
  z-index: 99999; //keep search above content
  margin-bottom: -1px;

  .search-icon {
    height: 60px;
    width: 40px;
    background: url(/images/search_icon.png) no-repeat 0 center;
  }

  .search {
    //.debug;
      background: @white;
    height: 60px;

    input,
    button,
    form {
      .kill-effects;
        border: none;
      height: 60px;
      font-size: 20px;
      .museo-sans-light-italic;
    }

    input {
      margin:0;
      padding: 0 0 0 0;
      font-size: 20px;

      &:focus {

      } //focus
    }

    button {
      padding: 0 20px;
      text-transform: uppercase;
    }


  } //search
} //search bar

//pagination
.pagination {
  height: 80px;
  background: @gray-background;
  padding: 0;
  margin:0 auto;
  text-transform: uppercase;
  color: @blue-text;
  z-index: 999;
  position:relative;

  a.previous,
  a.next {
    padding: 25px 0;
  }

  a.previous {
    margin-left: 20px;
  }

  a.next {
    margin-right: 20px;
  }

}

//downloads
.downloads {
    .description {
        margin-bottom: 20px;
    }

    .download {
        border-bottom: 1px solid #b2b2b2;
        padding-bottom: 15px;
        margin-bottom: 15px;

        .details {
            padding-left: 95px;

            ul {
                margin: 0;
            }

            li {
                display: inline-block;

                &:after {
                    content: " | ";
                }

                &:last-child:after {
                    content: "";
                }
            }

            a {
                font-size: 22px;
                color: @docs-blue;
                text-decoration: none;
                border-bottom: 1px solid @docs-blue;
                margin-left: 3px;

                &:hover {
                    color: darken(@blue, 10%);
                    border-bottom: 1px solid darken(@blue, 10%);
                }

                &:active {
                }
            }
        }

        .icon {
            img {
                width: 75px;
            }
        }

        .os-name {
            font-size: 40px;
            margin-bottom: 3px;
        }
    }

    .poweredby {
        margin-top: 20px;
        margin-bottom: 20px;

        img {
            display: block;
            margin: 0 auto;
            width: 122px;
        }
    }
}
