---
page_title: "VMware Integration"
description: |-
  The Vagrant VMware plugin provides rock-solid stability, improved performance,
  and dedicated support for using VMware and Vagrant.
---

<header>
  <div class="container hero">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="logos">
          <%= inline_svg "logo-text.svg", height: 60, class: "logo" %>
          <span class="plus">&plus;</span>
          <%= inline_svg "vmware.svg", height: 30 %>
        </div>

        <h1>Supercharged Development Environments</h1>
        <span class="tagline">
          Use Vagrant with VMware for improved stability, performance, and support.
        </span>

        <a class="button primary" href="#buy-now">Buy Now</a>
        <a class="button" href="#learn-more">Learn More</a>
      </div>
    </div>
  </div>
</header>

<section id="learn-more" class="marketing blue">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="callout">Benefits</span>
        <h2>VMware Makes Your Life Better</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Same Vagrant Workflow</h3>
        <p>
          <tt>vagrant up</tt>, <tt>vagrant ssh</tt>, <tt>vagrant destroy</tt> -
          the same Vagrant workflow you know and love. Vastly improve your
          work environments without having to re-educate your team.
        </p>
      </div>
      <div class="col-sm-6">
        <h3>Unparalleled Performance</h3>
        <p>
          VMware <em>screams</em>, with industry-leading performance<sup>1</sup>
          based on the same hypervisor technology in use by 98% of the Fortune 500.
          Get all the performance gains paired with the ease of use of Vagrant.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Rock Solid Stability</h3>
        <p>
          The VMware hypervisor has been in production use since 1999.
          All their products share the same, robust core that powers
          the world's largest organizations. With the VMware provider, Vagrant
          now runs on the strength of the same foundation.
        </p>
      </div>

      <div class="col-sm-6">
        <h3>Uncompromised Portability</h3>
        <p>
          VMware virtual machines run on Mac OS X, Windows, and Linux.
          Vagrant provides support for both VMware Fusion (Mac OS X) and
          VMware Workstation (Linux and Windows), which are able to run
          the same virtual machines across multiple platforms.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Professional Support</h3>
        <p>
          Every purchase of the Vagrant VMware provider comes with
          direct email support. VMware products themselves are eligible for
          professional support from VMware. Someone always has your back
          in case things are not working as well as they should be.
        </p>
      </div>

      <div class="col-sm-6">
        <h3>Vagrant &hearts; Open Source</h3>
        <p>
          Vagrant is free and open source. While the VMware providers
          are not, the revenue is used to continue to develop, support,
          and grow Vagrant and the community around it.
        </p>
      </div>
    </div>
    <div class="row footnotes">
      <div class="col-sm-12">
        <p>
          <sup>1</sup>According to <a href="http://www.macworld.com/article/1164817/the_best_way_to_run_windows_on_your_mac.html">this article in MacWorld</a> vs. Parallels Desktop 7
        </p>
      </div>
    </div>
  </div>
</section>

<section id="buy-now" class="marketing blue-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="callout">Buy Now</span>
        <h2>Pricing &amp; Purchase</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Price:</strong> $79 per seat.
        </p>
        <p>
          A single seat can be used on two computers (such as a desktop
          and a laptop) for a single person. The license is valid forever
          with access to free maintenance updates. Future major updates may
          require an upgrade fee.
        </p>
        <p>
          Choose the provider you want below and enter the number of seats
          you wish to purchase. Then, click the buy button and complete the
          flow and instructions to install and download the software will
          be emailed to you.
        </p>

        <div class="form">
          <div class="products">
            <label class="radio">
              <input type="radio" name="product" value="fusion" checked>
              VMware Fusion 10 or lower (Mac OS X)
            </label>
            <label class="radio">
              <input type="radio" name="product" value="workstation">
              VMware Workstation 14 or lower (Linux and Windows)
            </label>
          </div>
          <div class="inputs">
            <input class="text" id="seats" type="text" value="1">
            <button class="btn" type="button" id="buy-fusion">Buy Now</button>
          </div>
        </div>

        <div class="subtext">
          The provider license does not include a license to the VMware
          software, which must be purchased separately. If you are buying over
          150 licenses, contact <a
          href="mailto:sales@hashicorp.com">sales@hashicorp.com</a> for volume
          pricing. By purchasing this license, you agree to the
          <a href="/vmware/eula.html">EULA</a> and the
          HashiCorp <a href="/vmware/privacy-policy.html">Privacy Policy</a> and
          <a href="/vmware/terms-of-service.html">Terms of Service</a>.
        </div>
        <div class="subtext">
          Previous plugin versions may not support the latest VMware products.
          Please visit <a
          href="http://license.hashicorp.com/upgrade/vmware2015">the license
          upgrade center</a> to check if your license requires an upgrade before
          you upgrade your VMware products.
        </div>
        <div class="subtext">
          For reseller information, <a href="/vmware/reseller.html">click
          here</a>.
        </div>
      </div>
    </div>
  </div>
</section>

<section id="faq" class="marketing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="callout">FAQ</span>
        <h2>Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Do you offer a trial for the Vagrant VMware plugins?</h3>
        <p>
          We do not offer a trial mechanism at this time, but we do offer a
          30-day, no questions asked, 100% money-back guarantee. If you are
          not satisfied with the product, contact us within 30 days and you
          will receive a full refund.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Do you offer educational discounts on the Vagrant VMware plugins?</h3>
        <p>
          We offer an academic discount of 10% for the Vagrant VMware plugins.
          However, we require proof that you are a current student or employee
          in academia. Please contact support with <strong>any one</strong> of
          the following forms of proof:

          <ul>
            <li><p>A picture of your current university ID</p></li>
            <li><p>An email from your official <tt>.edu</tt> school email address</p></li>
            <li><p>A copy of something on university letterhead indicating you are currently enrolled as a student</p></li>
          </ul>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>I already own a license, am I eligible for an upgrade?</h3>
        <p>
          Existing license holders may check their upgrade eligibility by
          visiting <a href="http://license.hashicorp.com/upgrade/vmware2015">the license upgrade center</a>.
          If you are eligible for an upgrade, the system will generate a
          unique discount code that may be used when purchasing the new
          license.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Do I need to pay for upgrades to my license?</h3>
        <p>
          The Vagrant VMware plugin licenses are valid for specific VMware
          product versions at the time of purchase. When new versions of
          VMware products are released, significant changes to the plugin code
          are often required to support this new version. For this reason, you
          may need to upgrade your current license to work with the new
          version of the VMware product. Customers can check their license
          upgrade eligibility by visiting the
          <a href="http://license.hashicorp.com/upgrade/vmware2015">License Upgrade Center</a>
          and entering the email address with which they made the original
          purchase.
        </p>
        <p>
          Please note: your existing license will continue to work with all
          previous versions of the VMware products. If you do not wish to
          update at this time, you can rollback your VMware installation to an
          older version.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Where can I find the EULA for the Vagrant VMware Plugins?</h3>
        <p>
          The <a href="/vmware/eula.html">EULA for the Vagrant VMware plugins</a>
          is available on the Vagrant website.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Do you offer incentives for resellers?</h3>
        <p>
          All our reseller information can be found on the
          <a href="/vmware/reseller.html">Reseller Information</a> page.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Do you offer bulk/volume discounts for the Vagrant VMware plugins?</h3>
        <p>
          We certainly do! <a href="mailto:support@hashicorp.com?subject=Bulk Discounts">Email support</a>
          with the number of licenses you need and we can give you bulk pricing
          information. Please note that bulk pricing requires the purchase of
          <em>at least 150 seats</em>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Since each license comes with two "seats", can I use one seat for the Vagrant VMware Fusion plugin and one seat for the Vagrant VMware Workstation plugin?</h3>
        <p>
          Unfortunately this is not possible at this time. The Vagrant VMware
          Fusion plugin and the Vagrant VMware Workstation plugin are separate
          products and cannot be shared in this manner. We apologize for the
          inconvenience.
        </p>
        <p>
          We do offer a 50% discount off the purchase of the other Vagrant
          plugin for individual users and qualified candidates. Certain
          restrictions do apply. Please <a href="mailto:support@hashicorp.com?subject=Multi-discount">email support</a>
          to find out if you qualify. Unfortunately we cannot retroactively
          apply this discount, so please email support before making your
          purchase.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>I accidentally bought the wrong Vagrant VMware plugin, can I switch?</h3>
        <p>
          Sure! Even though the Vagrant VMware Fusion plugin and the Vagrant
          VMware Workstation plugin are different products, they are the same
          price and fall under the same EULA. As such, we can transfer the
          license for you. Please <a href="mailto:support@hashicorp.com?subject=Transfer License">contact support</a>
          for assistance. Be sure to include your original order number. You
          may be asked to confirm details your purchase to verify the
          authenticity of your request.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Does this include the VMware software?</h3>
        <p>
          The Vagrant VMware Plugin requires the separate purchase of VMware
          Fusion/Workstation from VMware. The VMware product is not bundled
          with the plugin.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Why is the Vagrant VMware plugin not working with my trial version of VMware Fusion/Workstation?</h3>
        <p>
          While we have not been able to isolate to a specific issue or cause,
          the Vagrant VMware Fusion and Vagrant VMware Workstation plugins are
          sometimes incompatible with the trial versions of the VMware
          products.
        </p>
        <p>
          Please try restarting your computer and running the VMware software
          manually. Occassionally you must accept the license agreement before
          VMware will run. If you do not see any errors when opening the
          VMware GUI, you may need to purchase the full version to use the
          plugin. We apologize for the inconvenience.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Can I use VMware Workstation Player?</h3>
        <p>
          <em>Some</em> features of the Vagrant VMware Workstation plugin will
          work with VMware Player, but it is not officially supported. Vagrant
          interacts with VMware via the VMware API, and some versions of
          VMware Workstation Player do not support those APIs. When in doubt,
          please purchase VMware Workstation Pro to use all the features
          supported by the integration.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Do I need VMware Fusion/Workstation Pro or just the regular version?</h3>
        <p>
          The Vagrant VMware plugin is compatible with both the regular and
          Pro versions of VMware Fusion and VMware Workstation. However, some
          advanced features (such as linked clones), are only supported by the
          Pro versions of the VMware software.
        </p>
        <p>
          Please consult the VMware documentation to determine which features
          are supported by the Pro and non-Pro versions to determine which
          product you need to purchase.
        </p>
      </div>
    </div>
  </div>
</section>
