<!-- Overlay for fixed mobile-nav -->
<div class="mobile-nav-overlay"></div>

<!-- Material mobile-nav -->
<aside id="mobile-nav" class="mobile-nav mobile-nav-default mobile-nav-fixed-right" role="navigation">
    <!-- mobile-nav header -->
    <div class="mobile-nav-header header-cover">
        <!-- mobile-nav brand image -->
        <div class="mobile-nav-image">
            <a class="mobile-nav-logo" href="/">Vagrant</a>
        </div>
    </div>

    <!-- mobile-nav navigation -->
    <ul class="main nav mobile-nav-nav">
      <li class="pill"><a href="/vmware">VMware Integration</a></li>
      <li><a href="/downloads.html">Downloads</a></li>
      <li><a href="https://docs.vagrantup.com/">Documentation</a></li>
      <li><a href="/blog.html">Blog</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
</aside>
