<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-default sidebar-fixed-right" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover">
        <!-- Sidebar brand image -->
        <div class="sidebar-image">
            <a class="sidebar-logo" href="/">Vagrant</a>
        </div>
    </div>

    <!-- Sidebar navigation -->
    <ul class="main nav sidebar-nav">
      <li class="pill"><a href="/vmware">VMware Integration</a></li>
      <li><a href="/downloads.html">Downloads</a></li>
      <li><a href="https://docs.vagrantup.com/">Documentation</a></li>
      <li><a href="/blog.html">Blog</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
</aside>
