<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Vagrant CI</title>

  <meta name="description" content="CI website for Vagrant, a tool for creating and distributing virtualized environments.">

  <link rel="stylesheet" href="/static/css/bootstrap-1.4.0.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/static/css/syntax.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/static/css/vagrant.base.css" type="text/css" media="screen" />
  <script src="/static/js/jquery-1.7.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/bootstrap-tabs.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <div class="row Header">
      <div class="span4 Module logo">
        <h1><a href="/">Vagrant&nbsp;<span class="subtype">CI</span></a></h1>
      </div>
      <div class="span12">
        <div class="Module navigation">
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/builders">builders</a></li>
            <li><a href="/waterfall">waterfall</a></li>
            <li><a href="/buildslaves">build slaves</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span16">
        {%- block content -%}
        {%- endblock -%}
      </div>
    </div>

    <div class="row Footer">
      <div class="span16">
        Copyright <a href="/license.html">&copy;</a> 2009-2011. <a href="http://mitchellhashimoto.com">Mitchell Hashimoto</a> and <a href="http://nickelcode.com">John Bender</a>. Design by <a href="http://www.simonecarletti.com/">Simone Carletti</a>.
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-15091924-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </div>
</body>
</html>
