.root {
  & input {
    border: none;
    box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    text-align: center;
    width: 60px;
  }

  & button {
    background: #1563ff;
    border: none;
    border-radius: 0;
    box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: 'gilmer-web', 'Gilmer', Geneva, Tahoma, Helvetica, Verdana,
      sans-serif;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    transition: background-color 0.25s ease;

    &:hover {
      background: #3176ff;
    }
  }
}
