.root {
  composes: .g-grid-container from global;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 64px auto;

  /* max-width overrides g-grid-container default */
  max-width: 784px;
  min-height: 50vh;
  padding-inline: 32px;
  text-align: center;

  @media (--large) {
    padding-inline: 24px;
  }
}

.heading {
  composes: g-type-display-3 from global;
}

.link {
  color: var(--highlight-color);
}
