{% macro change(c) %}

<table class="zebra-striped">
  <tbody>
  <tr>
    <td class="left">Changed by</td>
    <td><b>{{ c.who|email }}</b></td>
  </tr>

  <tr>
    <td class="left">Changed at</td>
    <td><b>{{ c.at }}</b></td>
  </tr>

  {% if c.repository %}
  <tr>
    <td class="left">Repository</td>
    <td><b>{{ c.repository|repolink }}</b></td>
  </tr>
  {% endif %}

  {% if c.project %}
  <tr>
    <td class="left">Project</td>
    <td><b>{{ c.project|projectlink }}</b></td>
  </tr>
  {% endif %}

  {% if c.branch %}
  <tr>
    <td class="left">Branch</td>
    <td><b>{{ c.branch|e }}</b></td>
  </tr>
  {% endif %}

  {% if c.rev %}
  <tr>
    <td class="left">Revision</td>
    <td>{%- if c.revlink -%}<a href="{{ c.revlink }}">{{ c.rev|e }}</a>
    {%- else -%}{{ c.rev|revlink(c.repository) }} {%- endif -%}</td>
  </tr>
  {% endif %}
  </tbody>
</table>

{% if c.comments %}
<h3>Comments</h3>
<pre>{{ c.comments|changecomment(c.project) }}</pre>
{% endif %}

<h3>Changed files</h3>
<ul>
  {% for f in c.files -%}
  <li>
    {%- if f.url %}
    <a href="{{ f.url }}">{{ f.name|e }}</a>
    {%- else %}
    {{ f.name|e }}
    {%- endif -%}
  </li>
  {% else %}
  <li>no files</li>
  {% endfor %}
</ul>

{% if c.properties %}
<h3>Properties</h3>
<table class="zebra-striped">
  {% for p in c.properties %}
  <tr>
    <td class="left">{{ p[0]|capitalize|e }}</td>
    <td>{{ p[1]|e }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{%- endmacro %}

{% macro box_contents(who, url, pageTitle) -%}
<a href="{{ url }}" title="{{ pageTitle|e }}">{{ who|user }}</a>
{%- endmacro %}
