{% macro auth() %}
  <div class="clearfix">
    <label for="username">Your username:</label>
    <div class="input">
      <input type="text" name="username"/>
    </div>
  </div>

  <div class="clearfix">
    <label for="password">Your password:</label>
    <div class="input">
      <input type="password" name="passwd"/>
    </div>
  </div>
{% endmacro %}

{% macro cancel_pending_build(cancel_url, authz, short=False, id='all') %}
  {% if not short or not authz.needAuthForm('cancelPendingBuild') %}
    <form method="post" name="cancel" action="{{ cancel_url }}" class='command cancelbuild'
               {{ 'style="display:inline"' if short else '' }}>
      {% if not short %}
        {% if on_all %}
          <p>To cancel all builds, fill out the following fields and
            push the 'Cancel' button</p>
        {% else %}
          <p>To cancel this build, fill out the following fields and
            push the 'Cancel' button</p>
        {% endif %}
      {% endif %}

      {% if authz.needAuthForm('cancelPendingBuild') %}
        {{ auth() }}
      {% elif not short %}
        <p>To cancel individual builds, click the 'Cancel' buttons above.</p>
      {% endif %}

      <input type="hidden" name="id" value="{{ id }}" />

      <div class="actions">
        <input type="submit" class="btn" value="Cancel" />
      </div>
    </form>
  {% endif %}
{% endmacro %}

{% macro stop_change_builds(stopchange_url, changenum, authz) %}
  {% if not changenum or not authz.needAuthForm('stopChange') %}
    <form method="post" action="{{ stopchange_url }}" class='command stopchange'>
      {% if changenum %}
        <p>To cancel all builds for this change, push the 'Cancel' button</p>
      {% else %}
        <p>To cancel builds for this builder for a given change, fill out all
          fields and push the 'Cancel' button</p>
      {% endif %}

      {% if authz.needAuthForm('cancelPendingBuild') %}
        {{ auth() }}
      {% endif %}

      {% if changenum %}
        <input type="hidden" name="change" value="{{ changenum }}" />
      {% else %}
        <div class="row">
          <span class="label">Change #:</span>
          <input type="text" name="change"/>
        </div>
      {% endif %}
      <input type="submit" value="Cancel" />
    </form>
  {% endif %}
{% endmacro %}

{% macro stop_build(stop_url, authz, on_all=False, on_selected=False, builders=[], short=False, label="Build") %}
  {% if not short or not authz.needAuthForm('stopBuild') %}
    <form method="post" name="stop_build" action="{{ stop_url }}" class='command stopbuild'
               {{ 'style="display:inline"' if short else '' }}>
      {% if not short %}
        {% if on_all %}
          <p>To stop all builds, fill out the following field and
          push the <i>Stop {{ label }}</i> button</p>
        {% elif on_selected %}
          <p>To stop selected builds, select the builders, fill out the
          following field and push the <i>Stop {{ label }}</i> button</p>
          <table>
          {% for b in builders %}
            <tr>
              <td align="center"><input type="checkbox" name="selected" value="{{ b.name }}"></td>
              <td class="box"><a href="{{ b.link }}">{{ b.name|e }}</a></td>
            </tr>
          {% endfor %}
          </table>

        {% else %}
          <p>To stop this build, fill out the following field and
          push the <i>Stop {{ label }}</i> button</p>
        {% endif %}
      {% endif %}

      {% if authz.needAuthForm('stopBuild') %}
        {{ auth() }}
      {% endif %}

      {% if not short %}
          <div class="clearfix">
            <label for="comments">Reason</label>
            <div class="input">
              <input type="text" name="comments" />
            </div>
          </div>
      {% endif %}

     <div class="actions">
       <input type="submit" class="btn primary" value="Stop" />
     </div>
    </form>
  {% endif %}
{% endmacro %}

{% macro force_build(force_url, authz, on_all=False, on_selected=False, builders=[]) %}
 <form method="post" name="force_build" action="{{ force_url }}" class="command forcebuild">

  {% if on_all %}
     <p>To force a build on <strong>all Builders</strong>, fill out the following fields
          and push the 'Force Build' button</p>
  {% elif on_selected %}
     <p>To force a build on <strong>certain Builders</strong>, select the
        builders, fill out the following fields and push the
        'Force Build' button</p>

     <table>
     {% for b in builders %}
       <tr>
         <td align="center"><input type="checkbox" name="selected" value="{{ b.name }}"></td>
         <td class="box"><a href="{{ b.link }}">{{ b.name|e }}</a></td>
       </tr>
     {% endfor %}
     </table>

  {% else %}
     <p>To force a build, fill out the following fields and
        push the 'Force Build' button</p>
  {% endif %}

  {% if authz.needAuthForm('forceBuild') %}
    {{ auth() }}
  {% else %}
     <div class="clearfix">
       <label for="username">Your name</label>
       <div class="input">
         <input type="text" name="username" />
       </div>
     </div>
  {% endif %}

   <div class="clearfix">
     <label for="comments">Reason for build</label>
     <div class="input">
       <input type="text" name="comments" />
     </div>
   </div>

   <div class="clearfix">
     <label for="branch">Branch to build</label>
     <div class="input">
       <input type="text" name="branch" />
     </div>
   </div>

   <div class="clearfix">
     <label for="revision">Revision to build</label>
     <div class="input">
       <input type="text" name="revision" />
     </div>
   </div>

   <div class="clearfix">
     <label for="repository">Repository to build</label>
     <div class="input">
       <input type="text" name="repository" />
     </div>
   </div>

   <div class="clearfix">
     <label for="project">Project to build</label>
     <div class="input">
       <input type="text" name="project" />
     </div>
   </div>

   <div class="actions">
     <input type="submit" class="btn" value="Force Build" />
   </div>
 </form>
{% endmacro %}

{% macro graceful_shutdown(shutdown_url, authz) %}
  <form method="post" action="{{ shutdown_url }}" class='command graceful_shutdown'>

  <p>To cause this slave to shut down gracefully when it is idle,
    push the 'Graceful Shutdown' button</p>

  {% if authz.needAuthForm('gracefulShutdown') %}
    {{ auth() }}
  {% endif %}

  <input type="submit" value="Graceful Shutdown" />
 </form>
{% endmacro %}

{% macro clean_shutdown(shutdown_url, authz) %}
  <form method="post" action="{{ shutdown_url }}" class='command clean_shutdown'>
  <p>To cause this master to shut down cleanly, push the 'Clean Shutdown' button.</p>
  <p>No other builds will be started on this master, and the master will
  stop once all current builds are finished.</p>

  {% if authz.needAuthForm('gracefulShutdown') %}
    {{ auth() }}
  {% endif %}

  <input type="submit" value="Clean Shutdown" />
 </form>
{% endmacro %}

{% macro cancel_clean_shutdown(cancel_shutdown_url, authz) %}
  <form method="post" action="{{ cancel_shutdown_url }}" class='command cancel_clean_shutdown'>
  <p>To cancel a previously initiated shutdown, push the 'Cancel Shutdown' button.</p>

  {% if authz.needAuthForm('gracefulShutdown') %}
    {{ auth() }}
  {% endif %}

  <input type="submit" value="Cancel Shutdown" />
 </form>
{% endmacro %}

{% macro ping_builder(ping_url, authz) %}
  <form method="post" action="{{ ping_url }}" class='command ping_builder'>
    <p>To ping the buildslave(s), push the 'Ping' button</p>

  {% if authz.needAuthForm('gracefulShutdown') %}
    {{ auth() }}
  {% endif %}

    <input type="submit" class="btn" value="Ping Builder" />
  </form>
{% endmacro %}

{% macro rebuild_build(rebuild_url, authz, exactly, ss) %}
 <form method="post" action="{{ rebuild_url }}" class="command rebuild">

    {% if exactly %}
      <p>This tree was built from a specific set of
          source files, and can be rebuilt exactly</p>
    {% else %}
      <p>This tree was built from the most recent revision
      {% if ss.branch %}
        (along branch {{ ss.branch }})
      {% endif %}
      and thus it might not be possible to rebuild it
      exactly. <br/>Any changes that have been committed
      after this build was started <b>will</b> be
      included in a rebuild.</p>
    {% endif %}


  {% if on_all %}
     <p>To force a build on <strong>all Builders</strong>, fill out the following fields
          and push the 'Force Build' button</p>
  {% else %}
     <p>To force a build, fill out the following fields and
        push the 'Force Build' button</p>
  {% endif %}

  {% if authz.needAuthForm('forceBuild') %}
    {{ auth() }}
  {% endif %}
   <div class="clearfix">
     <label for="comments">Reason for build</label>
     <div class="input">
       <input type="text" name="comments" />
     </div>
   </div>

   <div class="actions">
     <input type="submit" class="btn primary" value="Rebuild" />
   </div>
 </form>
{% endmacro %}

{% macro show_users(users_url, authz) %}
  <form method="post" action="{{ users_url }}" class='command show_users'>
    <p>To show users, press the 'Show Users' button</p>

  {% if authz.needAuthForm('showUsersPage') %}
    {{ auth() }}
  {% endif %}

    <input type="submit" value="Show Users" />
  </form>
{% endmacro %}
