//
// Global Site
// --------------------------------------------------

/*html{
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}*/

body {
  font-size: 18px;
  color: $black;
  font-weight: 400;
}

h1 {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 24px;
}

h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-top: 70px;
}

h1 + h2 {
  margin-top: 10px;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
}

p, a {
  font-family: $font-family-open-sans;
}

.highlight{
  margin-bottom: 18px;
}

pre {
  background-color: $black;
  color: $white;
  font-size: 14px;
  font-weight: normal;
  font-family: $font-family-mono;
  border: none;
  padding: 20px;
  margin-bottom: 0;
}

*:focus {
  outline: none;
}

//fixed grid below 992 to prevent smaller responsive sizes
@media (max-width: 992px) {
  .container{
    max-width: 970px;
  }
}

//all below styles are overriding corrections for below (min-width: 992px)
//below (min-width: 992px) these styles change
.navbar-nav {
  margin: 0;
}

.navbar-right {
  float: right !important;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.center {
  text-align: center;
}

.edit-this-page{
  padding-top: 48px;
  a{
    text-transform: uppercase;
  }
}
