html {
  font-size: $font-size-default;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $body-font-color;
  background-color: $white;
  font-size: $font-size-default;
  font-family: $font-body;
  font-weight: $font-weight-reg;
  height: 100%;
  min-height: 100%;
}
