#page-home {
  // Override the main header
  #header {
    background: $home-header-background-color;

    .navbar-toggle {
      .icon-bar {
        border: 1px solid $home-header-link-color;
      }
    }

    .navbar-brand {
      a {
        svg.logo {
          @extend svg.logo.color;
        }
      }
    }

    ul.nav {
      li {
        a {
          color: $home-header-link-color;

          &:hover,
          &:focus,
          &:active {
            background-color: transparent;
            color: $home-header-link-color-hover;

            svg {
              fill: $home-header-link-color-hover;
            }
          }

          svg {
            fill: $home-header-link-color;
          }
        }
      }
    }
  }

  header {
    .hero {
      margin: 140px auto 160px auto;
      text-align: center;

      h1 {
        margin: 24px 0 40px 0;
      }

      .button {
        margin: 5px;

        @media (max-width: 768px) {
          display: block;
          margin-top: 10px;
          text-align: center;
        }
      }

      svg {
        max-width: 90%;
      }
    }
  }

  section {
    background: $white;
    padding: 100px 0;
  }

  section.marketing {
    h2 {
      margin: 20px 0 10px 0;
      padding: 0;
    }

    p {
      margin: 0 0 10px;
    }

    span.callout {
      background: $black;
      color: $white;
      display: inline-block;
      margin: 0;
      padding: 5px;
    }

    &.black {
      background: $black;

      h2 {
        color: $white;
      }

      p {
        color: $white;
      }

      span.callout {
        background: $white;
        color: $black;
      }
    }

    &.blue-dark {
      background: $vagrant-d1;

      h2 {
        color: $white;
      }

      p {
        color: $white;
      }
    }

    &.blue {
      background: $vagrant;

      h2 {
        color: $white;
      }

      p {
        color: $white;
      }
    }

    &#simple {
      .terminal {
        @extend .g-type-code;
        border: 1px solid $white;
        background: $black;
        box-sizing: border-box;
        color: $white;
        margin: 20px auto auto auto;
        padding: 10px 20px 20px 20px;

        .terminal-content {
          margin-top: 5px;
          overflow-x: scroll;
          width: 100%;
          white-space: nowrap;

          span {
            display: block;
          }
        }

        span.circle {
          &:before {
            content: "\25CF";
            color: $white;
            margin: 0 0 0 -4px;
            padding: 0;
            height: 100%;
          }
        }

        span.command {
          font-weight: $font-weight-bold;
        }
      }
    }

    &#parity {
      display: flex;
      align-items: center;

      .parity-image {
        text-align: center;

        svg {
          display: inline-block;
          max-width: 400px;
          margin: 40px;
        }
      }
    }

    &#cross {
      .systems {
        margin-top: 70px;
        text-align: center;

        svg {
          max-width: 130px;
          min-width: 20px;
          height: auto;

          fill: $white;
          padding: 0 20px;
        }
      }
    }

    &#trusted {
      p.logos {
        margin-top: 40px;
        text-align: center;

        img {
          max-width: 941px;
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
