.page-home {

  h1, h2, h3, h4, h5 {
    color: $purple-text;
    font-family: $font-family-klavika;
    text-transform: uppercase;
    text-align: center;
  }

  .hero {
    @include padded;
    background: $gray-background image-url("vagrant_header_background.png") no-repeat center -20px;
    background-size: 1292px 532px;
    text-align: center;
    border-bottom: 1px solid #c6e0f0;

    .hero-content {
      top: 50%;

      hgroup {
        margin: ($baseline * 4) 0 20px 0;
        text-shadow: 0 1px 10px rgba(255, 255, 255, 0.4);

        h1 {
          color: $purple-text;
          line-height: 1;
          margin-top: 350px;
        }

        p {
          color: $vagrant-blue;
        }
      }

      #button-download {
        margin-right: 10px;
      }

      #button-get-started {
        margin-left: 10px;
      }
    }
  }

  .why-vagrant {
    @include padded;
    background: $light-blue-background image-url("steps_background.png") center -120px;

    h2 {
      color: $blue-text;
    }

    hgroup {
      margin: ($baseline * 3) 0;
      // width: 530px;

      h3 {
        font-weight: bold;
        margin-bottom: $baseline;
      }

      h4 {
        font-size: 20px;
        line-height: $baseline * 1.5;
      }
      p {
        color: $purple-text;
      }
    }
  }

  .get-started {
    @include padded;
    @include get-started-bg;

    h2 {
      color: $white;
    }

    pre {
      font-size: 20px;
      padding: 40px 40px 10px 40px;
      margin: 40px auto;
      background: rgba($black, 0.6);
    }
  }

  .customers {
    @include padded;
    background-color: $black;
    border-bottom: 1px solid #333;

    h2 {
      color: $dark-gray-text;
    }

    .customer-logos {
      margin-top: $baseline * 3;

      img {
        width:100%;
        height: auto;
        -khtml-opacity: .5;
        -moz-opacity: .5;
        opacity: .5;
        filter: alpha(opacity=50);
      }
    }
  }
}

@media (max-width: 991px) {
  .page-home {
    .hero {
      .hero-content {
        #button-download {
          margin-right: 0;
        }

        #button-get-started {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .page-home {
    .hero {
      background: $gray-background image-url("vagrant_header_background.png") no-repeat center -60px;
      background-size: 1292px 532px;

      .hero-content {
        hgroup {
          h1 {
            margin-top: 280px;
          }
        }
      }
    }
  }
}
