.page-sponsors {
  .sponsors {
    ul {
      list-style: none;

      li {
        text-align: center;

        a {
          img {
            height: 80px;
          }
        }
      }
    }
  }
}
