// Global values
// --------------------------------------------------

$header-height: 92px;
$btn-border-radius: 4px;
$el-border-radius: 6px;
$baseline: 20px;

//grayscale
$black: #000;
$white: #fff;
$gray-background: #f7f6f1;
$dark-gray-text: #7f7f7f;
$light-gray-background: #f0f0f0;
$light-gray: #ccc;
$light-gray-text: #eeeeee;
$dark-gray-background: #333;
$medium-gray-text: #666;

//vagrant colors
$blue-text: #2490cc;
$dark-blue-text: #476576;
$light-blue-background: #dbf1ff;
$vagrant-blue: #0094bf;
$light-sidebar-background: #a1ccf0;
$docs-blue: #22407f;
$blue-background: #1e71a1;
$purple-text: #270836;
$purple: #735f9f;

//misc colors
$blue: #48b4fb;
$green: #43d193;
$code-highlight-text: #73c5dd;
$current-color: inherit;
$button-color: $vagrant-blue;
$primary-button-color: #48b4fb;

// Typography
// -------------------------
$font-family-open-sans:       "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-klavika:         "klavika-web", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-mono:            "Courier New", Monaco, Menlo, Consolas, monospace;
$font-weight-open-sans-l:     300;
$font-weight-open-sans-reg:   400;
$font-weight-open-sans-b:     600;
$font-weight-open-sans: $font-weight-open-sans-reg;
