@import 'bootstrap-sprockets';
@import 'bootstrap';

@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600');

// Core variables and mixins
@import '_variables';

// Mega Nav
@import 'hashicorp/mega-nav';

// Anchor links
@import 'hashicorp/anchor-links';

// Sidebar
@import 'hashicorp/sidebar';

// Global Site
@import '_global';

// Components
@import '_header';
@import '_footer';
@import '_inner';
@import '_buttons';
@import '_logos';

// Pages
@import '_community';
@import '_docs';
@import '_downloads';
@import '_home';
@import '_vmware';
@import '_syntax';

// .legal-text {
//   p {
//     font-family: $font-family-monospace;
//     font-size: 16px;
//   }
// }
