<!-- Overlay for fixed mobile-nav -->
<div class="mobile-nav-overlay"></div>

<!-- Material mobile-nav -->
<aside id="mobile-nav" class="mobile-nav mobile-nav-default mobile-nav-fixed-right" role="navigation">
    <!-- mobile-nav header -->
    <div class="mobile-nav-header header-cover">
        <!-- mobile-nav brand image -->
        <div class="mobile-nav-image">
            <img src="<%= image_path('logo-header-docs@2x.png') %>" width="200px" height="40px">
        </div>
    </div>

    <!-- mobile-nav navigation -->
    <ul class="main nav mobile-nav-nav">
      <li class="pill"><a href="https://www.amazon.com/gp/product/1449335837/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1449335837&linkCode=as2&tag=vagrant-20">Vagrant Book</a></li>
      <li><a href="https://www.vagrantup.com/">Home</a></li>
    </ul>
</aside>
