---
layout: "inner"
sidebar_current: "about-community"
page_title: "Community"
description: |-
  Vagrant is an open source project with a growing community. There are
  active, dedicated users willing to help you through various mediums.
---

<h1>Community</h1>
<p>
  Vagrant is an open source project with a growing community. There are
  active, dedicated users willing to help you through various mediums.
</p>
<p>
  <strong>IRC:</strong> <code>#vagrant</code> on Freenode
</p>
<p>
  <strong>Announcement list:</strong>
  <a href="https://groups.google.com/group/hashicorp-announce">HashiCorp Announcement Google Group</a>
</p>
<p>
  <strong>Discussion list:</strong>
  <a href="https://groups.google.com/forum/#!forum/vagrant-up">Vagrant Google Group</a>
</p>
<p>
  <strong>Bug Tracker:</strong>
  <a href="https://github.com/mitchellh/vagrant/issues">Issue tracker
  on GitHub</a>. Please only use this for reporting bugs. Do not ask
  for general help here. Use IRC or the mailing list for that.
</p>
<p>
  <strong>Training:</strong>
  Paid <a href="https://www.hashicorp.com/training.html">HashiCorp training courses</a>
  are also available in a city near you. Private training courses are also available.
</p>
