---
layout: "about"
sidebar_current: "about-community"
page_title: "Community"
description: |-
  Vagrant is a stable project with a vibrant and growing community. While it is
  impossible to name them all here, there are key members of the Vagrant project
  whose success would not be possible without them.
---

<h1>Community</h1>
<p>
  Vagrant is a stable project with a vibrant and growing community. While
  it is impossible to name them all here, there are key members of the
  Vagrant project whose success would not be possible without them. In
  the interest of privacy and respect, please do not contact individual
  maintainers for issues; use one of the following mediums instead.
</p>
<p>
  <strong>IRC:</strong> <code>#vagrant</code> on Freenode
</p>
<p>
  <strong>Mailing list:</strong>
  <a href="https://groups.google.com/forum/#!forum/vagrant-up">Vagrant Google Group</a>
</p>
<p>
  <strong>Bug Tracker:</strong>
  <a href="https://github.com/mitchellh/vagrant/issues">Issue tracker
  on GitHub</a>. Please only use this for reporting bugs. Do not ask
  for general help here. Use IRC or the mailing list for that.
</p>

<h2>People</h2>
<p>
  The following people are some of the faces behind Vagrant. They each
  contribute to Vagrant in some core way. Over time, faces may appear and
  disappear from this list as contributors come and go.
</p>
<div class="people">
<div class="person">
	<img class="pull-left" src="//www.gravatar.com/avatar/54079122b67de9677c1f93933ce8b63a.png?s=125">
	<div class="bio">
		<h3>Mitchell Hashimoto (<a href="https://github.com/mitchellh">@mitchellh</a>)</h3>
		<p>
			Mitchell Hashimoto is a creator of Vagrant. He has been with the
      Vagrant project from the very beginning. Mitchell is also the
      creator of
			<a href="https://www.consul.io">Consul</a>,
			<a href="https://www.packer.io">Packer</a>,
			<a href="https://www.serfdom.io">Serf</a>, and
			<a href="https://www.ottoproject.io">Otto</a>.
		</p>
	</div>
</div>

<div class="clearfix"></div>

<div class="person">
	<img class="pull-left" src="//www.gravatar.com/avatar/2acc31dd6370a54b18f6755cd0710ce6.png?s=125">
	<div class="bio">
		<h3>Jack Pearkes (<a href="https://github.com/pearkes">@pearkes</a>)</h3>
		<p>
			Jack Pearkes created and maintains many projects at HashiCorp. He
      is the original author of Vagrant Cloud (now
      <a href="https://atlas.hashicorp.com">Atlas</a>). He is also a
      core committer to <a href="https://www.packer.io">Packer</a>
      and maintains many successful
			<a href="https://github.com/pearkes">open source projects</a>
			while also being an employee of
			<a href="https://www.hashicorp.com">HashiCorp</a>.
		</p>
	</div>
</div>

<div class="clearfix"></div>

<div class="person">
	<img class="pull-left" src="//avatars1.githubusercontent.com/u/408570?v=3&amp;s=125">
	<div class="bio">
		<h3>Seth Vargo (<a href="https://github.com/sethvargo">@sethvargo</a>)</h3>
		<p>
      Seth Vargo is a core committer to Vagrant, with his main focus
      being the core plugin system, pushes, and provisioners. Seth is
      also a contributor to Consul, Packer, and Vault, all while being
      an employee at <a href="https://www.hashicorp.com">HashiCorp</a>.
		</p>
	</div>
</div>

<div class="clearfix"></div>

<div class="person">
	<img class="pull-left" src="//avatars3.githubusercontent.com/u/37534?v=3&amp;s=125">
	<div class="bio">
		<h3>Paul Hinze (<a href="https://github.com/phinze">@phinze</a>)</h3>
		<p>
			Paul Hinze is a contributor to Vagrant, with his main focus being
      provisioners and working on HashiCorp's external plugins.	He is
      also a core committer to <a href="https://www.terraform.io">Terraform</a>,
      all while being an employee at <a href="https://www.hashicorp.com">HashiCorp</a>.
		</p>
	</div>
</div>

<div class="clearfix"></div>
</div>
