---
layout: "about"
sidebar_current: "about-sponsors"
page_title: "Sponsors"
description: |-
	The companies on this page special recognition for their contributions
	to Vagrant. These companies consistently provide resources which help the
	project run smoothly by supporting hosting costs, providing testing machines,
	donating their services, etc.
---

<h1>Sponsors</h1>

<p>
The companies below deserve special recognition for their contributions
to Vagrant. These companies consistently provide resources which help the
project run smoothly by supporting hosting costs, providing testing machines,
donating their services, etc.
</p>

<div class="sponsors">
	<ul>
		<li><a href="https://www.fastly.com/?utm_source=vagrant"><%= image_tag "sponsors/fastly.png" %></a></li>
		<li><a href="https://www.kiip.me/?utm_source=vagrant"><%= image_tag "sponsors/kiip.png" %></a></li>
		<li><a href="https://typekit.com/?utm_source=vagrant"><%= image_tag "sponsors/typekit.png" %></a></li>
		<li><a href="https://www.softlayer.com/?utm_source=vagrant"><%= image_tag "sponsors/softlayer.jpg" %></a></li>
	</ul>
</div>
