---
layout: "about"
sidebar_current: "about-support"
page_title: "Support"
description: |-
  If you are having trouble using Vagrant, want general advice,
  think you may have found a bug, or want to get in touch with
  a human being for any reason, there are various support channels
  available.
---

<h1>Support</h1>

<p>
  If you are having trouble using Vagrant, want general advice,
  think you may have found a bug, or want to get in touch with
  a human being for any reason, there are various support channels
  available.
</p>

<ul>
  <li>
    <strong><a href="#professional">Professional support packages</a></strong>
    provide you with direct access to the people creating Vagrant ready to
    help you with any problems or questions you may have.
  </li>

  <li>
    <strong><a href="/community.html">Community support</a></strong> is available
    via the mailing list or IRC. Thousands of helpful Vagrant users, including
    the developers of Vagrant, read messages in these channels.
  </li>

  <li>
    <strong><a href="https://www.amazon.com/gp/product/1449335837/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1449335837&linkCode=as2&tag=vagrant-20">Vagrant: Up and Running</a></strong>
    is a book published by O'Reilly and written by the creator of Vagrant
    and can be used as a good resource for Vagrant.
  </li>
</ul>

<a name="professional"></a>
<h2>Professional Support</h2>

<p>
  Professional support packages are available for purchase. We also offer paid
  training for Vagrant and other HashiCorp products. If you are interested
  in hearing more, please contact
  <a href="mailto:training@hashicorp.com">training@hashicorp.com</a>.
</p>

<p>
  If you purchased the <a href="/vmware/">VMware provider for Vagrant</a>,
  you are eligible for limited basic support for issues relating to the plugin
  via email by contacting
  <a href="mailto:support@hashicorp.com">support@hashicorp.com</a>. Questions
  unrelated to the VMware provider are not covered by this support and may
  require the purchase of a commercial support package. Response times are
  typically within 48 hours, but can be up to a week.
</p>
