<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Vagrant</title>

  <meta name="description" content="Create and manage virtualized development environments." />

  <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/text.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/960.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/syntax.css" type="text/css" media="screen" />
</head>

<body>
  <div id="header" class="container_12 clearfix">
    <div id="logo">
      <div><a href="/">Vagrant</a></div>
    </div>
    <div id="navigation">
      <ul id="nav">
        <li><a href="/">home</a></li>
        <li><a href="/about.html">about</a></li>
        <li><a href="/documentation.html">documentation</a></li>
        <li><a href="/contribute.html">contribute</a></li>
        <li><a href="http://github.com/mitchellh/vagrant">code</a></li>
      </ul>
    </div>
  </div>

  <div id="content" class="container_12 clearfix">
    <div class="grid_12">
      {{ content }}
    </div>
  </div>

  <div id="footer" class="container_12 clearfix">
    <div id="copy">
      Copyright <a href="/license.html">&copy;</a> 2009-2010. Design by <a href="http://www.ruby-whois.org/">Ruby Whois</a>.
    </div>
  </div>

</body>
</html>