{% include header.html %}
<div class="row">
	<div class="span3 Module sidebar">
		<div class="well" style="padding: 8px 0px;">
			<ul class="nav nav-list">
				<li{% if page.current == 'Overview' %} class="active"{% endif %}>
				<a href="/docs/index.html">Overview</a>
				</li>
				<li{% if page.current == 'Commands' %} class="active"{% endif %}>
				<a href="/docs/commands.html">Commands</a>
				</li>
				<li{% if page.current == 'Vagrantfile' %} class="active"{% endif %}>
				<a href="/docs/vagrantfile.html">Vagrantfile</a>
				</li>
				<li{% if page.current == 'Provisioners' %} class="active"{% endif %}>
				<a href="/docs/provisioners.html">Provisioners</a>
				<ul>
					<li><a href="/docs/provisioners/chef_solo.html">Chef Solo</a></li>
					<li><a href="/docs/provisioners/chef_server.html">Chef Server</a></li>
					<li><a href="/docs/provisioners/puppet.html">Puppet</a></li>
					<li><a href="/docs/provisioners/puppet_server.html">Puppet Server</a></li>
					<li><a href="/docs/provisioners/shell.html">Shell</a></li>
					<li><a href="/docs/provisioners/others.html">Others</a></li>
				</ul>
				</li>
				<li{% if page.current == 'Boxes' %} class="active"{% endif %}>
				<a href="/docs/boxes.html">Boxes</a>
				</li>
				<li{% if page.current == 'Multi-VM' %} class="active"{% endif %}>
				<a href="/docs/multivm.html">Multi-VM Environments</a>
				</li>
				<li{% if page.current == 'Host-Only Networking' %} class="active"{% endif %}>
				<a href="/docs/host_only_networking.html">Host-Only Networking</a>
				</li>
				<li{% if page.current == 'Bridged Networking' %} class="active"{% endif %}>
				<a href="/docs/bridged_networking.html">Bridged Networking</a>
				</li>
				<li{% if page.current == 'NFS' %} class="active"{% endif %}>
				<a href="/docs/nfs.html">NFS Shared Folders</a>
				</li>
				<li{% if page.current == 'Base Boxes' %} class="active"{% endif %}>
				<a href="/docs/base_boxes.html">Base Boxes</a>
				</li>
				<li{% if page.current == 'Guests' %} class="active"{% endif %}>
				<a href="/docs/guests.html">Guest-specific Behavior</a>
				</li>
				<li{% if page.current == 'Plugins' %} class="active"{% endif %}>
				<a href="/docs/plugins.html">Plugins</a>
				</li>
				<li{% if page.current == 'Rake Integration' %} class="active"{% endif %}>
				<a href="/docs/rake.html">Rake Integration</a>
				</li>
				<li{% if page.current == 'Debugging' %} class="active"{% endif %}>
				<a href="/docs/debugging.html">Debugging</a>
				</li>
				<li{% if page.current == 'Troubleshooting' %} class="active"{% endif %}>
				<a href="/docs/troubleshooting.html">Troubleshooting</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="span9">
		{{ content }}
	</div>
</div>
{% include footer.html %}
