{% include header.html %}
<div class="row">
  <div class="span4 Module sidebar">
    <div class="alert-message block-message grey">
    <ol>
      <li><a href="/docs/extending/index.html">Overview</a></li>
      <li><a href="/docs/extending/types.html">Types of Plugins</a></li>
      <li><a href="/docs/extending/objects.html">Vagrant Objects</a></li>
      <li><a href="/docs/extending/commands.html">Commands</a></li>
      <li><a href="/docs/extending/configuration.html">Configuration</a></li>
      <li><a href="/docs/extending/middleware.html">Middleware</a></li>
      <li><a href="/docs/extending/i18n.html">I18n</a></li>
    </ol>
    </div>

   {% include block_beta_warning.html %}
  </div>

  <div class="span12">
    {{ content }}
  </div>
</div>
{% include footer.html %}
