{% include header.html %}
    <div class="grid_3 alpha sidebar">
      <ol>
        <li><a href="/docs/getting-started/index.html">Overview</a></li>
        <li><a href="/docs/getting-started/why.html">Why Vagrant?</a></li>
        <li><a href="/docs/getting-started/introduction.html">Introduction and Setup</a></li>
        <li><a href="/docs/getting-started/boxes.html">Boxes</a></li>
        <li><a href="/docs/getting-started/provisioning.html">Provisioning</a></li>
        <li><a href="/docs/getting-started/ports.html">Port Forwarding</a></li>
        <li><a href="/docs/getting-started/packaging.html">Packaging</a></li>
      </ol>
    </div>
    <div class="grid_9 omega guide">
      {{ content }}
    </div>
{% include footer.html %}