{% include header.html %}
    <div class="grid_3 alpha sidebar">
      <div class="block">
        <ol>
          {% if page.url == '/docs/getting-started/index.html' %}
            <li>Overview</li>
          {% else %}
            <li><a href="/docs/getting-started/index.html">Overview</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/why.html' %}
            <li>Why Vagrant?</li>
          {% else %}
            <li><a href="/docs/getting-started/why.html">Why Vagrant?</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/introduction.html' %}
            <li>Introduction</li>
          {% else %}
            <li><a href="/docs/getting-started/introduction.html">Introduction</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/setup.html' %}
            <li>Project Setup</li>
          {% else %}
            <li><a href="/docs/getting-started/setup.html">Project Setup</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/boxes.html' %}
            <li>Boxes</li>
          {% else %}
            <li><a href="/docs/getting-started/boxes.html">Boxes</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/ssh.html' %}
            <li>SSH</li>
          {% else %}
            <li><a href="/docs/getting-started/ssh.html">SSH</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/provisioning.html' %}
            <li>Provisioning</li>
          {% else %}
            <li><a href="/docs/getting-started/provisioning.html">Provisioning</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/ports.html' %}
            <li>Port Forwarding</li>
          {% else %}
            <li><a href="/docs/getting-started/ports.html">Port Forwarding</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/packaging.html' %}
            <li>Packaging</li>
          {% else %}
            <li><a href="/docs/getting-started/packaging.html">Packaging</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/teardown.html' %}
            <li>Teardown</li>
          {% else %}
            <li><a href="/docs/getting-started/teardown.html">Teardown</a></li>
          {% endif %}
          {% if page.url == '/docs/getting-started/rebuild.html' %}
            <li>Rebuild Instantly</li>
          {% else %}
            <li><a href="/docs/getting-started/rebuild.html">Rebuild Instantly</a></li>
          {% endif %}
        </ol>
      </div>

      {% include block_beta_warning.html %}
    </div>
    <div class="grid_9 omega guide">
      {{ content }}
    </div>
{% include footer.html %}
