{% include header.html %}
    <div class="grid_3 alpha sidebar">
      <div class="block">
        <ol>
          <li><a href="/docs/user-guide/index.html">Overview</a></li>
          <li><a href="/docs/user-guide/commands.html">Commands</a></li>
          <li><a href="/docs/user-guide/vagrantfile.html">Vagrantfile</a></li>
          <li><a href="/docs/user-guide/provisioning.html">Provisioning</a></li>
          <li><a href="/docs/user-guide/boxes.html">Boxes</a></li>
          <li><a href="/docs/user-guide/rake.html">Rake Integration</a></li>
        </ol>
      </div>
    </div>
    <div class="grid_9 omega guide">
      {{ content }}
    </div>
{% include footer.html %}
