{% include header.html %}

	<div class="featured-module">
		<div class="featured-text">
			<h2 class="home title">Virtualized development has never been so easy.</h2>
			<h3 class="home subtitle">Create and configure lightweight, reproducible, and portable development environments.</h3>
			<a href="http://downloads.vagrantup.com" class="home get-started">
				<div class="button-text">Download</div>
				<div class="download"></div>
			</a>
		</div>
		<div id="dirty-hippie"></div>
	</div>

	<div class="h-module">
		<div class="text-module fleft">
			<h2 class="home heading">Why Vagrant Changes Everything</h2>
			<p class="home paragraph medium">By providing easy to configure, lightweight, reproducible, and portable virtual machines targeted at development environments, Vagrant helps maximize your productivity and flexibility.</p>

			<p class="home paragraph">Developers no longer need to worry about figuring out how to install and configure complicated infrastructure components. Operations engineers no longer need to worry about developers working in broken development environments.</p>
		</div>

		<div class="company-logos"></div>
	</div>

	<div class="h-module h-last">
		<div class="text-module fleft">
			<h2 class="home heading">Setup Your First Instance</h2>
			<p class="home paragraph medium">Vagrant is so easy to use that you can get your first virtual machine running 3 easy steps:</p>

			<div class="term">
				<ul>
					<li><span class="deep-blue">$</span> vagrant box add base http://files.vagrantup.com/lucid32.box</li>
					<li><span class="deep-blue">$</span> vagrant init</li>
					<li><span class="deep-blue">$</span> vagrant up</li>
				</ul>
			</div>
		</div>

		<div class="moveon">
			<span>Ready to move on?</span>
			<ul>
				<a class="no-underline" href="/docs/getting-started/index.html"><li class="list-button">Get Started  <span class="arrow">&rarr;</span></li></a>
				<a class="no-underline" href="/support.html"><li class="list-button">Support  <span class="arrow">&rarr;</span></li></a>
			</ul>
		</div>
	</div>

{% include footer.html %}
