<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("downloads") %>>
        <a href="/downloads.html">Downloads</a>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
