---
page_title: "VMware Vagrant Environments"
---

<div class="page vmware">

	<section class="hero vmware">
		<div class="container"> <!-- required by bootstrap -->
			<div class="hero-content">

				<div class="row">
					<div class="span8 offset2">
						<hgroup>
						<h1>Supercharged<br>Vagrant<br>environments.</h1>
						<h2>Use Vagrant with VMware Fusion or Workstation for</h2>
						<h2>improved stability, performance, and support.</h2>
						</hgroup>
					</div> <!-- /span -->
				</div> <!-- row -->

				<div class="row">
					<a href="#learn-more">
						<div class="button span3 offset3">
							<span>learn more</span>
						</div> <!-- /span -->
					</a>

					<a href="#buy-now">
						<div id="buy-now-button" class="button button span3">
							<span>buy now</span>
						</div> <!-- /span -->
					</a>
				</div> <!-- /row -->

			</div> <!-- hero-content -->
		</div> <!-- container -->
		</section> <!-- hero -->

		<a class="anchor" name="learn-more"></a>
		<section class="why">
		<div class="container">
			<div class="row">
				<h1 class="span12">
					VMware Makes Your Life Better
				</h1>
			</div> <!-- /row -->

			<div class="reasons">
			<div class="row">
				<div class="span6">
					<h2>Same Vagrant Workflow</h2>

					<p>
					"vagrant up," "vagrant ssh," "vagrant destroy." The same Vagrant
					workflow you know and love. Vastly improve your work environments
					without having to re-educate your team.
					</p>
				</div>

				<div class="span6">
					<h2>Unparalleled Performance</h2>

					<p>
					VMware <em>screams</em>, with industry-leading performance<sup>1</sup>
					based on the same hypervisor technology in use by 98% of the Fortune 500.
					Get all the performance gains paired with the ease of use of Vagrant.
					</p>
				</div>
			</div> <!-- row -->

			<div class="row">
				<div class="span6">
					<h2>Rock Solid Stability</h2>

					<p>
					The VMware hypervisor has been in production use since 1999.
					All their products share the same, robust core that powers
					the world's largest organizations. With the VMware provider, Vagrant
					now runs on the strength of the same foundation.
					</p>
				</div>

				<div class="span6">
					<h2>Uncompromised Portability</h2>

					<p>
					VMware virtual machines run on Mac OS X, Windows, and Linux.
					Vagrant provides support for both VMware Fusion (Mac OS X) and
					VMware Workstation (Linux and Windows), which are able to run
					the same virtual machines across multiple platforms.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="span6">
					<h2>Professional Support</h2>

					<p>
					Every purchase of the Vagrant VMware provider comes with
					direct email support. VMware products themselves are eligible for
					professional support from VMware. Someone always has your back
					in case things aren't working as well as they should be.
					</p>
				</div>

				<div class="span6">
					<h2>&hearts; Open Source</h2>

					<p>
					Vagrant is free and open source. While the VMware providers
					are not, the revenue is used to continue to develop, support,
					and grow Vagrant and the community around it.
					</p>
				</div>
			</div>

			<div class="row footnotes">
				<div class="span12">
				<p>
				<sup>1</sup>According to <a href="http://www.macworld.com/article/1164817/the_best_way_to_run_windows_on_your_mac.html">this article in MacWorld</a> vs. Parallels Desktop 7
				</p>
				</div>
			</div>
			</div>
		</div> <!-- container -->
		</section>

		<a class="anchor" name="buy-now"></a>
		<section class="pricing">
		<div class="container">
			<div class="row">
				<div class="span12">

					<h1 class="all-caps">
						Pricing & Purchase
					</h1>
				</div> <!-- /span -->
			</div> <!-- /row -->
			<div class="row">
				<div class="span12">
					<div class="buy-form">
						<p>
						<strong>Price:</strong> $79 per seat.
						</p>
						<p>
						A single seat can be used on two computers (such as a desktop
						and a laptop) for a single person. The license is valid forever
						with access to free maintenance updates. Future major updates may require
						an upgrade fee.
						</p>
						<p>
						Choose the provider you want below and enter the number of seats
						you wish to purchase. Then, click the buy button and complete the
						flow and instructions to install and download the software will
						be emailed to you.
						</p>
						<div class="form">
							<div class="inputs products">
								<label class="radio">
									<input type="radio" name="product" value="fusion" checked>
									VMware Fusion 5 to 7 (Mac OS X)
								</label>
								<label class="radio">
									<input type="radio" name="product" value="workstation">
									VMware Workstation 9 to 11 (Linux and Windows)
								</label>
							</div>
							<div class="inputs input-append">
								<input class="text" id="seats" type="text" value="1">
								<button class="btn" type="button" id="buy-fusion">Buy Fusion Licenses Now</button>
							</div>
						</div>

						<div class="subtext">
							The provider license does not include a license to the VMware
							software, which must be purchased separately. If you're buying over 100 licenses, contact <a href="mailto:sales@hashicorp.com">sales@hashicorp.com</a> for volume pricing.
						</div>
						<div class="subtext">
							Previous plugin versions may not support the latest VMware products. Please visit <a href="http://license.hashicorp.com/upgrade/vmware<%= Time.now.year %>">the license upgrade center</a> to check if your license requires an upgrade before you upgrade your VMware products.
						</div>
						<div class="subtext">
							For reseller information, <a href="/vmware/reseller.html">click here</a>.
						</div>
					</div>
				</div>
			</div> <!-- /row -->
		</div> <!-- /get-started -->
		</section>

	</div> <!-- /.page.home -->
