//
// Mixins Specific to project
//  - make edits to mixins here
// --------------------------------------------------

// Variables
$project-logo-width: 151px;
$project-logo-height: 45px;
$project-logo-pad-left: 0px;
$header-height: 80px;
