{% extends "layouts/base.html" %}
{% from "macros/box.html" import box %}

{% block content %}
<h1>Builders</h1>

<table class="Module builders">
  <thead>
    <tr>
      <th>Builder Name</th>
      <th>Last Build</th>
      <th>Current Status</th>
    </tr>
  </thead>

  <tbody>
    {% for b in builders %}
    <tr>
      <td class="box"><a href="{{ b.link }}">{{ b.name|e }}</a></td>
      {% if b.build_url %}
      <td class="LastBuild box {{ b.build_css_class }}">
        <a href="{{ b.build_url }}">{{ b.build_label }}</a>
        <br/>{{ b.build_text }}
      </td>
      {% else %}
      <td class="LastBuild box">no build</td>
      {% endif %}
      {{ box(**b.current_box) }}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
