{% import 'macros/forms.html' as forms %}
{% from 'macros/build_line.html' import build_table, build_line %}

{% extends "layouts/base.html" %}
{% block content %}
<h1>Buildslave: {{ slavename|e }}</h1>

<ul class="tabs" data-tabs="tabs">
  <li class="active"><a href="#current">Current Builds</a></li>
  <li><a href="#recent">Recent Builds</a></li>
  <li><a href="#info">Slave Info</a></li>
</ul>

<div class="tab-content">
  <div class="active" id="current">
    {% if current %}
    <h3>Currently building:</h3>
    <ul>
      {% for b in current %}
      <li>{{ build_line(b, True) }}
        <form method="post" action="{{ b.buildurl }}/stop" class="command stopbuild" style="display:inline">
          <input type="submit" value="Stop Build" />
          <input type="hidden" name="url" value="{{ this_url }}" />
        </form>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h3>No current builds</h3>
    {% endif %}
  </div>

  <div id="recent">
    <h3>Recent builds</h3>
    {{ build_table(recent, True) }}
  </div>

  <div id="info">
    {% if access_uri %}
    <a href="{{ access_uri|e }}">Click to Access Slave</a>
    {% endif %}

    {% if admin %}
    <h3>Administrator</h3>
    <p>{{ admin|email }}</p>
    {% endif %}

    {% if host %}
    <h3>Slave information</h3>
    Buildbot-Slave {{ slave_version }}
    <pre>{{ host|e }}</pre>
    {% endif %}

    <h2>Connection Status</h3>
    <p>
      {{ connect_count }} connection(s) in the last hour
      {% if not slave.isConnected() %}
      (not currently connected)
      {% else %}
    </p>
    {% if authz.advertiseAction('gracefulShutdown') %}
    <h2>Graceful Shutdown</h2>
    {% if slave.getGraceful() %}
    <p>Slave will shut down gracefully when it is idle.</p>
    {% else %}
    {{ forms.graceful_shutdown(shutdown_url, authz) }}
    {% endif %}
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
