{% extends "layouts/base.html" %}

{% block content %}
<div class="alert-message warning">
  <strong>Vagrant CI is under construction!</strong> This site is still
  brand new and the exact builders, build slaves, and stability of the CI
  will be in flux for the next few weeks.
</div>

<img src="/static/images/vagrant_looking.png" class="right" />

<p>
  <strong>Vagrant CI, keeping Vagrant stable every step of the way.</strong>
</p>

<p>
  Welcome to the CI for <a href="http://vagrantup.com">Vagrant</a>, a tool
  for building and distributing virtualized environments. In order to maintain
  the level of stability that users of Vagrant have come to expect, this
  CI system will run a wide range of tests against all commits to the
  <a href="https://github.com/mitchellh/vagrant">Vagrant project</a>.
</p>

<p>
  Here is a brief overview of the pages you may be interested in:
</p>

<ul>
  <li>
    <a href="/waterfall">Waterfall</a> - This page will show you the status
    of all the builders in reverse chronological order so you can see what
    the CI is up to at this moment.
  </li>
  <li>
    <a href="/builders">Builders</a> - This page will show you the various
    builders. Builders are the things which know how to perform one kind of
    build (unit tests, acceptance tests, etc.). From here you can also see the
    status of the last build for each builder as well as the current status
    of the builder.
  </li>
</ul>
{% endblock %}
