{% extends "layouts/base.html" %}
{% from "macros/box.html" import box %}

{% block content %}
<p>
  This is the Waterfall page. It shows the status of various builders in
  reverse chronological order. This allows you to see the most recent builds
  and their current status. You can additionally see the commits as they come
  in to the project.
</p>

<table class="bordered-table Module waterfall">
  <thead>
    <tr>
      <th colspan="2">Builder</th>
      {% for b in builders %}
      <th class="{{ b.top_class }}">
        <a href="{{ b.url }}">{{ b.name }}</a><br />
        {{ " ".join(b.top) }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2">Current Activity</th>
      {% for b in builders %}
      <td class="{{ b.status_class }}">
        {{ "<br />".join(b.status) }}
      </td>
      {% endfor %}
    </tr>

    <tr>
      <th>Time ({{ tz }})</th>
      <th>Changes</th>
      {% for b in builders %}
      <td>&nbsp;</td>
      {% endfor %}
    </tr>

    {% for i in range(gridlen) -%}
    <tr>
      {% for strip in grid -%}
      {%- if strip[i] -%}{{ box(**strip[i]) }}
      {%- elif no_bubble -%}{{ box() }}
      {%- endif -%}
      {%- endfor -%}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
