<!--
<div class="Modules blog-sidebar">
The Vagrant blog contains release announcements, feature introduction,
advanced guides, and tutorials. The posts are written by core committers
as well as the Vagrant community.
</div>
-->
<ul class="unstyled">
	<li<%= sidebar_current("blog") %>><a href="/blog.html">Blog</a></li>
	<li<%= sidebar_current("blog-archives") %>><a href="/blog-archives.html">Article Archive</a></li>
	<li><a href="http://feeds.feedburner.com/vagrantup">RSS Feed</a></li>
</ul>
