<ul class="unstyled">
	<li<%= sidebar_current("downloads") %>><a href="/downloads.html">Latest</a></li>
	<li<%= sidebar_current("downloads-archive") %>><a href="/downloads-archive.html">Old Versions</a></li>
</ul>
