<ul class="unstyled">
	<li<%= sidebar_current("support") %>><a href="/support.html">Overview</a></li>
	<li<%= sidebar_current("support-professional") %>><a href="/support/professional.html">Professional</a></li>
	<li<%= sidebar_current("support-community") %>><a href="/support/community.html">Community</a></li>
</ul>
<a class="button white-button" href="https://github.com/mitchellh/vagrant">vagrant on github</a>
