<ul class="unstyled">
	<li<%= sidebar_current("about") %>><a href="/about.html">About Vagrant</a></li>
	<li<%= sidebar_current("about-support") %>><a href="/support.html">Support</a></li>
	<li<%= sidebar_current("about-sponsors") %>><a href="/sponsors.html">Project Sponsors</a></li>
</ul>
<a class="button white-button" href="https://github.com/mitchellh/vagrant">vagrant on github</a>
