---
layout: "inner"
sidebar_current: "blog-archives"
sidebar_template: "blog"
sidebar_title: "Blog"
page_title: "Blog Archive"
---

<div class="Modules blog-archives">
<h2>Blog Archive</h2>
<ul>
<% blog.articles.reverse.each_index do |i| %>
<% article = blog.articles[i] %>
	<li>
		<a href="<%= article.url %>"><%= article.title %></a>
		<span class="meta date"><%= article.date.strftime('%b %e %Y') %></span>
	</li>
<% end %>
</ul>
</div> <!-- blog archives -->
