---
layout: "inner"
sidebar_current: "downloads-archive"
sidebar_template: "downloads"
sidebar_title: "Download"
page_title: "Download Old Versions of Vagrant"
---

<h2>Old Versions</h2>

<p>
This webpage lists the older versions of Vagrant that are available for
download. Some even older versions are available from the
<a href="http://downloads.vagrantup.com/">legacy downloads page</a>.
</p>

<p>
The latest version of Vagrant can be found on the
<a href="/downloads.html">main downloads page</a>.
</p>

<% if $vagrant_versions.length > 1 %>
<ul>
	<% $vagrant_versions[1..-1].each do |version| %>
		<li><p><a href="/download-archive/v<%= version.to_s %>.html"><%= version.to_s %></a></p></li>
	<% end %>
</ul>
<% else %>
<p>
No old Vagrant versions could be found.
</p>
<% end %>
