---
layout: "inner"
sidebar_current: "downloads-archive"
sidebar_template: "downloads"
sidebar_title: "Download"
page_title: "Download Old Versions of Vagrant"
---

<h2>Old Versions</h2>

<p>
Old versions of Vagrant can currently be found at the old downloads
website here: <a href="http://downloads.vagrantup.com/">http://downloads.vagrantup.com/</a>
</p>

<p>
In the future, old versions will be transitioned to the new download
system, so please do not rely on the URLs at that web page.
</p>
