<div class="page home">

	<section class="hero">
		<div class="container"> <!-- required by bootstrap -->
			<div class="hero-content">

				<div class="row">
					<div class="span8 offset2">
						<hgroup>
						<h1>Development<br>environments<br>made easy.</h1>
						<h2>Create and configure lightweight, reproducible, and portable development environments.</h2>
						</hgroup>
					</div> <!-- /span -->
				</div> <!-- row -->

				<div class="row">
					<a href="/downloads.html">
						<div class="button span3 offset3">
							<span>download</span>
						</div> <!-- /span -->
					</a>

					<a href="http://docs.vagrantup.com/v2/getting-started/index.html">
						<div class="button button span3">
							<span>get started</span>
						</div> <!-- /span -->
					</a>
				</div> <!-- /row -->

			</div> <!-- hero-content -->
		</div> <!-- container -->
		</section> <!-- hero -->

		<section class="why-vagrant">
		<div class="container">
			<div class="row">
				<h1 class="span12">
					Vagrant will change how you work
				</h1>
			</div> <!-- /row -->
			<div class="row">
				<div class="span6 offset3">
					<!-- step 1 -->
					<hgroup>
					<h3>Set Up</h3>
					<h4>
						Download and install Vagrant within minutes on Mac OS X, Windows, or a popular distribution of Linux. No complicated setup process, just a simple to use OS-standard installer.
					</h4>
					</hgroup>
					<!-- step 2 -->
					<hgroup>
					<h3>Configure</h3>
					<h4>
						Create a single file for your project to describe the type of machine you want, the software that needs to be installed, and the way you want to access the machine. Store this file with your project code.
					</h4>
					</hgroup>
					<!-- step 3 -->
					<hgroup>
					<h3>Work</h3>
					<h4>
						Run a single command &mdash; "vagrant up" &mdash; and sit back as Vagrant puts together your complete development environment. Say goodbye to the "works on my machine" excuse as Vagrant creates identical development environments for everyone on your team.
					</h4>
					</hgroup>
				</div> <!-- span12 -->
			</div> <!-- row -->
		</div> <!-- container -->
		</section>

		<section class="get-started">
		<div class="container">
			<div class="row">
				<div class="span12">

					<h1 class="all-caps">
						See how easy it is
					</h1>
					<pre>
$ vagrant init hashicorp/precise32
$ vagrant up
					</pre>
					</div> <!-- /span -->
				</div> <!-- /row -->
				<div class="row">
					<a href="http://docs.vagrantup.com/v2/getting-started/index.html">
						<div class="button white-button with-carat span6 offset3">
							<span>get started&raquo;</span>
						</div> <!-- /span -->
					</a>
				</div> <!-- /row -->
			</div> <!-- /get-started -->
			</section>

			<section class="customers black">
			<div class="container"> <!-- required by bootstrap -->
				<div class="row">
					<div class="customers-content span12">
						<h1 class="all-caps">
							Trusted by
						</h1>
						<div class="customer-logos">
							<img src="/images/customers.png" alt="customers" width="941" height="111" />
						</div>
					</div> <!-- customers-content -->
				</div> <!-- row -->
			</div> <!-- container -->
			</section>

		</div> <!-- /.page.home -->
