---
layout: "inner"
sidebar_current: "about-sponsors"
sidebar_title: "About"
sidebar_template: "about"
---

<h2>Project Sponsors</h2>
<p>
The companies below deserve special recognition for their contributions
to Vagrant. These companies consistently provide resources which help the
project run smoothly by supporting hosting costs, providing testing machines,
donating their services, etc.

<div class="Modules sponsors">
	<ul>
		<li><a href="http://fastly.com"><%= image_tag "/images/sponsors/fastly.png" %></a></li>
		<li><a href="http://kiip.com"><%= image_tag "/images/sponsors/kiip.png" %></a></li>
		<li><a href="http://typekit.com"><%= image_tag "/images/sponsors/typekit.png" %></a></li>
		<li><a href="http://softlayer.com"><%= image_tag "/images/sponsors/softlayer.jpg" %></a></li>
	</ul>
</div>
</p>
