---
layout: "inner"
sidebar_current: "support"
sidebar_template: "support"
sidebar_title: "Support"
---
<h2>Support</h2>
<p>
If you're having trouble using Vagrant, want general advice,
think you may have found a bug, or want to get in touch with
a human being for any reason, there are various support channels
available.
</p>

<p>
<a href="/support/professional.html">Professional support packages</a>
provide you with direct access to the people creating Vagrant ready to
help you with any problems or questions you may have.
</p>

<p>
<a href="/support/community.html">Community support</a> is available
via the mailing list or IRC. Thousands of helpful Vagrant users, including
the developers of Vagrant, read messages in these channels.
</p>
