---
layout: "inner"
sidebar_current: "about-support"
sidebar_template: "about"
sidebar_title: "about"
page_title: "Support"
---
<h2>Support</h2>
<p>
If you're having trouble using Vagrant, want general advice,
think you may have found a bug, or want to get in touch with
a human being for any reason, there are various support channels
available.
</p>

<p>
<a href="#professional">Professional support packages</a>
provide you with direct access to the people creating Vagrant ready to
help you with any problems or questions you may have.
</p>

<p>
<a href="#community">Community support</a> is available
via the mailing list or IRC. Thousands of helpful Vagrant users, including
the developers of Vagrant, read messages in these channels.
</p>

<p>
<a href="http://www.amazon.com/gp/product/1449335837/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1449335837&linkCode=as2&tag=vagrant-20">Vagrant: Up and Running</a> is a book published by O'Reilly and written by the creator of Vagrant
and can be used as a good resource for Vagrant.
</p>

<a name="community"></a>
<h2>Community Support</h2>

<p>Vagrant has a large and active community of individuals who
are more than happy to assist newcomers and veterans alike.</p>

<p>
<strong>IRC:</strong> <code>#vagrant</code> on Freenode. IRC
provides a real-time chat environment for getting help. Note that
the quality and availability of assistance depends largely on the
time of day and who is currently active in the channel.
</p>

<p>
<strong>Mailing list:</strong> <a href="http://groups.google.com/group/vagrant-up">Vagrant Google Group</a>. The mailing list has thousands of people who engage
in active discussions daily. A response can take up to a few days
here, but your inquiries will be seen by many more individuals.
</p>
</p>

<p>
<strong>Bug Tracker:</strong> <a href="https://github.com/mitchellh/vagrant/issues">Issue Tracker on GitHub</a>. This is only for reporting bugs found, please do not use this as a means for support.
</p>

<a name="professional"></a>
<h2>Professional Support</h2>

<p>Professional support packages are on the way. If you're interested
in hearing more, please contact <a href="mailto:sales@hashicorp.com">sales@hashicorp.com</a>.

<p>
If you purchased the <a href="http://www.vagrantup.com/vmware">VMware Fusion provider</a>,
you're eligible for limited basic support via email by contacting
<a href="mailto:support@hashicorp.com">support@hashicorp.com</a>. Response
times are typically within 48 hours, but can be up to a week.
</p>
