name: Vagrant Release
on:
  push:
    tags: 'v*'

jobs:
  trigger-release:
    if: github.repository == 'hashicorp/vagrant'
    name: Trigger Installers Build
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Trigger Build
        run: ./.ci/release "${TAG}" "${COMMIT_ID}"
        env:
          HASHIBOT_TOKEN: ${{ secrets.HASHIBOT_TOKEN }}
          TAG: ${{ github.ref }}
          COMMIT_ID: ${{ github.sha }}
